@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.b {
  background-color: #D8E9F0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container1 {
  background-color:#33425B;
  padding-top:10px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container1 h1 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control input {
  background-color: #33425B;
  color: #D8E9F0;
  border: 0;
  border-bottom: 2px solid #D8E9F0;
  font-size: 20px;
  width: 100%;
  padding: 8px 0;
}

.form-control input:focus {
  outline: 0;
  border-color: #D8E9F0;
}

.btn {
  background-color: #D8E9F0;
  width: 30%;
  padding: 15px;
  margin-bottom: 30px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left:130px;
}

.btn:focus {
  outline: 0;
  transform: scale(0.98);
}

.text a {
  color: #D8E9F0;
  margin-left: 10px;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:not([value='']) + label span {
  transform: translateY(-30px);
  color: #D8E9F0;
}

.img{
    height:90px;
    width:200px;
    margin-left:140px;
}

.logo{
    height:70px;
    width:200px;
    margin-left:30px;
    margin-top:5px;
}

.title{
    padding-top:10px;
    padding-left:40px;
    color:#D8E9F0;
    font-size:50px;
}

.bg{
    height:90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg1{
    text-align:center;
   /* height:150px;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top:30px;
    height:22em;
}

.bg1 h1{
    font-size:40px;
    color:#D8E9F0;
    padding-top:30px;
}

.bg1 button{
    font-weight: 5px;
    font-size: 20px;
    border-radius: 0em;
    border-color:#33425B;
    border-style: solid;
    padding: .8em 2em;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.options{
    margin:80px 30px;
    align-items:center;
    width:20em;
    height:17em;
    background-color:#D8E9F0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color:#33425B;
    border-radius:0.4em;
}

.options button{
    font-weight: 5px;
    font-size: 20px;
    border-radius: 0em;
    background-color:#F33535 ;
    border-color:#29252C;
    color:#D8E9F0;
    border-style: solid;
    padding: .6em 1.5em;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.eventbox{
    color:#29252C;
    background-color:#D8E9F0;
    width:40em;
    height:10em;
    border-radius:0.4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
}

.newsbox{
    margin:30px 90px;
    padding:15px 15px;
    width:60em;
     height:17em;
     font-size:20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight:bold;
}

.eventbox button{
    color:#D8E9F0;
    background-color:#33425B;
    font-size:13px;
    padding:10px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-color:#33425B;
    border-radius:0.4em;
}

.eventbox i{
    font-size:20px !important;
    padding:10px;
   
}

.eventbox a{
    color:#D8E9F0 !important;
    text-decoration:none !important;
}

#end, #examflip, #up, #resultflip, #extrasflip{
    display:none;
}




@media (max-width:576px) {

    .bg{
        height:20%;
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .title{
        padding-top:10px;
        padding-left:40px;
        font-size:40px!important;
        text-align:center;
    }


    .img{
        height:110px;
        width:200px;
        margin-left:50px;
    }

    .btn{
        margin-left:0px;
        width:100%;
    }

    h1{
        font-size:30px !important;
    }

    .form-control input, .text {
        font-size: 20px;
    }

    .form-control label span{
        font-size: 20px;
    }

    .logo{
        height:100px;
        width:300px;
        margin-left:60px;
        margin-top:60px;
    }

    .eventbox{
        color:#29252C;
        background-color:#D8E9F0;
        width:24em;
        height:10em;
        border-radius:0.4em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding:20px;
    }

    .bg1 button{
        margin-top:10px;
    }

    .newsbox{
        margin:10px 10px 10px 10px;
        padding:15px 15px;
        width:20em;
         height:25em;
         font-size:20px;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-weight:bold;
    }
}